.portada {
  padding: 0px !important;

  // xs, ss 
  #bloque-2 {
    background-color: @brand-success;
    color: white;
    padding: 0px;

    .bg-1-top-right {
      background: url('/assets/images/bg-1-top-right.svg') no-repeat top right;
    }

    .bg-1-bottom-left {
      background: url('/assets/images/bg-1-bottom-left.svg') no-repeat bottom left;
      padding: 9vh 30px;
    }
    
    h1 {
      margin: 0px;
    }

    h2 {
      display: block;
      text-align: center;
      
      span {
        display: block;
        font-weight: 300;
        font-size: 6vw;
      }
  
      b {
        display: block;
        text-transform: uppercase;
        font-size: 7vw;
      }
    }

    img {
      display: block;
      margin: auto;
    }

    img.icon-line-main {
      display: block;
      height: 4vw;
    }

    .separator {
      margin: 70px 0px 0px 0px;
      
      img.icon-down-chevron {
        cursor: pointer;
        height: 40px;
      }
    }
  }

  #bloque-3 {
    background-color: white;
    color: @gray-dark;

    .separator {
      margin: 45px auto;

      img.icon-down-chevron {
        cursor: pointer;
        height: 40px;
      }
    }

    p.text {
      padding-top: 10px;
      text-align: center;
      line-height: 1.1em;
      font-size: 1.3em;
    }

    .circle {
      background-color: @brand-success;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      margin: auto;
      padding-top: 40px;
  
      p {
        font-size: 18px;
        color: white;
        text-align: center;
        
        margin: auto;
        line-height: 1.1em;
      }
    }
  }
  
  
  #bloque-4 {
    background-color: @brand-success;
    color: white;
    padding: 0%;
    
    .bg-2 {
      background: url('/assets/images/bg-2-a.svg') no-repeat;
      background-position: 60% bottom;
      background-size: 260px;
      padding: 60px 30px;
      padding-bottom: 55px;
    }
    
    .circle {
      background-color: white;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      margin: auto;
      padding-top: 40px;
  
      p {
        font-size: 18px;
        color: @gray-dark;
        text-align: center;
        
        margin: auto;
        line-height: 1.1em;
      }
    }
    
    p.text {
      color: white;
      text-align: center;
      
      margin: auto;
      line-height: 1.1em;
      padding-top: 40px;
    }
  }

  #bloque-5-btn {
    background-color: white;
    padding: 20px;

    .btn-group {
      .btn {
        border-radius: 10px;
        font-weight: bold;
        padding: 5px 15px;
        box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 1);
        cursor: pointer;
      }

      .btn-encuesta {
        background-color: @brand-danger;
        border: 1px solid @brand-danger;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;

        img.message-tail-danger {
          position: absolute;
          right: 3px;
          bottom: -10px;
          height: 10px;
        }
      }
    }

    .btn-estadisticas {
      background-color: white;
      margin-top: 5px;
      
      .logo-bars-colors {
        height: 15px;
        margin-top: -2px;
        margin-right: 5px;
      }
    }

    .btn-politica-de-privacidad-container,
    .btn-encuesta-container {
      margin-top: 30px;
    }
  }
  
  .separator {
    text-align: center;
    margin: 25px auto;
  }

  img.icon-logo {
    width: 120px;
    padding-bottom: 10px;
  }
  img.icon-logo-text {
    width: 220px;
  }
  img.icon-dove {
    width: 40px;
  }

  .jumbotron {
    margin: 0px;
    border-radius: 0px;
    border: none;
    padding: 30px;
  }

  // xs
  @media screen and (max-width: @screen-xs-max) {}

  // sm
  @media screen and (min-width: @screen-sm-min) {
    #bloque-3 {
      p {
        font-size: 1.5em;
      }
      .separator {
        margin: 30px 0px 0px 0px;
      }
    }
  }

  // md
  @media screen and (min-width: @screen-md-min) {
    #bloque-2 {
      h2 {
        span {
          font-size: 4vw;
        }
    
        b {
          font-size: 5vw;
        }
      }

      img.icon-line-main {
        height: 3vw;
      }
    }

    #bloque-3 {
      p.text {
        margin-top: 30px;
        font-size: 1.5em;
      }

      .circle {
        height: 240px;
        width: 240px;
        padding-top: 45px;

        p {
          font-size: 1.5em;
        }
      }
    }

    #bloque-4 p.text {
      padding-top: 0px;
      font-size: 2em;
    }

    #bloque-4 .bg-2 {
      background-position: 80% bottom;
      background-size: 220px;
    }

    #bloque-5-btn {
      padding: 70px;

      .btn-group .btn-encuesta {
        font-size: 2em;
      }
  
      .btn-estadisticas {
        font-size: 1.2em;
      }
    }

    img.icon-logo {
      width: 200px;
    }
  }

  // lg
  @media screen and (min-width: @screen-lg-min) {}
}