<div class="container-fluid portada">
  <!-- bloque-2 -->
  <div id="bloque-2" class="jumbotron">
    <div class="bg-1-top-right">
      <div class="bg-1-bottom-left">
        <h1 class="text-center">
          <img alt="DATA CUENTA LOGO" class="icon-logo" src="assets/images/logo-datacuenta-blanco.svg">
        </h1>
        <h2>
          <span>Test para darte cuenta de la</span>
          <b>violencia digital</b>
          <img alt="" class="icon-line-main" src="assets/images/line-main.svg">
        </h2>
        <div class="separator visible-md-block visible-lg-block" scroll-to="#bloque-3">
          <img alt="" class="icon-down-chevron" src="assets/images/down-chevron-white.svg">
        </div>
      </div>
    </div>
  </div>

  <!-- bloque-3 -->
  <div id="bloque-3" class="jumbotron">
    <p class="visible-xs-block visible-sm-block text-center">
      Esta es una plataforma<br>
      interactiva que pretende<br>
      visibilizar, medir y conocer<br>
      las experiencias de<br>
      violencia que han sido<br>
      mediadas por la tecnología.
    </p>
    <div class="visible-md-block visible-lg-block row">
      <div class="col-md-4 col-md-offset-2">
        <p class="text">
          Esta es una plataforma<br>
          interactiva que pretende<br>
          visibilizar, medir y conocer<br>
          las experiencias de<br>
          violencia que han sido<br>
          mediadas por la tecnología.
        </p>
      </div>
      <div class="col-md-4">
        <div class="circle">
          <p>
            Desde la selfie<br>
            controladora de<br>
            tus sueños hasta<br>
            esos mensajitos<br>
            indeseados de<br>
            gente indeseable.
          </p>
        </div>
      </div>
    </div>
    <div class="separator visible-xs-block visible-sm-block" scroll-to="#bloque-4">
      <img alt="" class="icon-down-chevron" src="assets/images/down-chevron-success.svg">
    </div>
  </div>

  <!-- bloque-4 -->
  <div id="bloque-4" class="jumbotron">
    <div class="bg-2">
      <div class="container-fluid visible-xs-block visible-sm-block">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-md-offset-2">
            <div class="circle">
              <p>
                Desde la selfie<br>
                controladora de<br>
                tus sueños hasta<br>
                esos mensajitos<br>
                indeseados de<br>
                gente indeseable.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <p class="text">
              Queremos saber<br>
              qué te ha pasado, y<br>
              <b>queremos brindarte<br>
                consejos y soluciones<br>
                para hacerle frente</b><br>
              a las formas de violencia<br>
              que muchas veces<br>
              no reconocemos en<br>
              nuestro cotidiano...
            </p>
          </div>
        </div>
      </div>
      <div class="visible-md-block visible-lg-block">
        <p class="text">
          Queremos saber qué te ha pasado, y<br>
          <b>queremos brindarte consejos<br>
            y soluciones para hacerle frente</b><br>
          a las formas de violencia que muchas veces<br>
          no reconocemos en nuestro cotidiano...
        </p>
      </div>
    </div>
  </div>

  <!-- bloque-5-btn -->
  <div id="bloque-5-btn">
    <div class="text-center">
      <div class="btn-group btn-group-lg btn-group-vertical btn-encuesta-container">
        <button type="button" class="btn btn-encuesta" ng-click="vm.goTo('main.pregunta')">
          Completar encuesta
          <img class="message-tail-danger" src="assets/images/message-tail-danger-bottom-right.svg">
        </button>
        <!-- <button type="button" class="btn btn-estadisticas" ng-click="vm.goTo('main.resultado')">
          <img class="message-tail-success" src="assets/images/message-tail-success.svg">
          VER ESTADÍSTICAS
        </button> -->
      </div>
      <div class="text-center">
        <a class="btn-estadisticas" ng-click="vm.goTo('main.resultado')">
          <img class="logo-bars-colors" src="assets/images/logo-bars-colors.svg">
          Ver estadísticas
        </a>
      </div>
      <div class="text-center btn-politica-de-privacidad-container">
        <a ng-click="vm.goTo('main.politicaDePrivacidad')">
          Leer Política de Privacidad
        </a>
      </div>
    </div>
  </div>
</div>
