<nav class="navbar navbar-static-top navbar-top fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="DATA CUENTA LOGO" class="icon icon-logo-isotipo" src="assets/images/logo-datacuenta-isotipo.svg">
        <img alt="DATA CUENTA LOGO TEXTO" class="icon icon-logo-text" src="assets/images/logo-datacuenta-texto.svg">
      </a>
    </div>
    
    <ul class="nav navbar-nav">
      <li class="navbtn">
        <a href="/">
          <img alt="DATA CUENTA LOGO" class="icon icon-bars" src="assets/images/logo-bars-colors.svg">
          <img alt="TEDIC" class="icon-tedic" src="assets/images/logo-tedic-success.svg">
        </a>
      </li>
    </ul>
  </div>
</nav>
  